---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import DetailProject from "../components/DetailProject";
import ChallengeSolutions from "../components/DetailProject/ChallengeSolutions";

const description = `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin nisi tempus, porta diam bibendum, consectetur tortor. Mauris dictum dignissim cursus. Cras semper arcu id accumsan gravida. Nam lacinia orci sit amet lacus sodales varius. Morbi euismod tellus sit amet mauris viverra tempus. Sed gravida ligula ac odio efficitur fermentum. Maecenas posuere consequat neque at euismod. Donec semper commodo efficitur. Suspendisse ut malesuada nibh. Vestibulum cursus enim eget elementum pharetra.

Aenean dignissim ipsum nisi, a tristique augue sagittis quis. Maecenas porttitor metus non cursus molestie. Nam ornare diam quam, in luctus magna bibendum eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin aliquet massa sem, eu efficitur diam dapibus in. In a ligula egestas, luctus libero a, mollis velit. Etiam volutpat orci a ornare dignissim. Nunc laoreet nec velit maximus suscipit. Phasellus mi nulla, varius vitae arcu sed, scelerisque vulputate neque. Nulla tincidunt hendrerit accumsan. Etiam iaculis odio ut tristique pulvinar. Aenean ullamcorper eros vitae augue tristique, vel dignissim lectus pharetra. Cras sollicitudin sem eu eros egestas, at congue ex convallis. Donec turpis sem, vestibulum a quam non, tincidunt fermentum nisi.`;

const button = {
  link: "",
  text: "Sample button",
};

const tags = ["React", "FrontEnd", "Storybook", "Tailwind"];

const infoDetail = {
  year: "2024",
  client: "Sample Client",
  description: description,
  tags: tags,
  button: button,
};

const techs = [
  {
    title: "Desarrollo Web",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
    emoji: "九勇",
  },
  {
    title: "Dise침o UI/UX",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
    emoji: "游꿛",
  },
  {
    title: "Backend",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
    emoji: "游눹",
  },
  {
    title: "Backend",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
    emoji: "游눹",
  },
];

const cards = [
  {
    url: "https://placehold.co/600x400",
    title: "Title 1",
    id: 1,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 2",
    id: 2,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 3",
    id: 3,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 4",
    id: 4,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 5",
    id: 5,
  },
];
---

<Layout
  title="Mogami Porfolio"
  description="Front-end Developer apasionado por el dise침o web y sistemas de dise침o. Especializado en interfaces atractivas y f치ciles de usar, con un enfoque en crear experiencias web innovadoras."
>
  <Header>
    <a class="hover:font-bold duration-200" href="#projects">Projects</a>
    <a class="hover:font-bold duration-200" href="#experience">Experience</a>
    <a class="hover:font-bold duration-200" href="#about">About me</a>
  </Header>
  <main class="mt-[6rem] w-full">
    <DetailProject
      infoDetail={infoDetail}
      dropdownCards={techs}
      cards={cards}
      client:load
    >
      <ChallengeSolutions client:load />
    </DetailProject>
  </main>
</Layout>
