---
import Header from "../components/organism/Header.astro";
import Layout from "../layouts/Layout.astro";
import ProjectButton from "../components/organism/ProjectButton.astro";
import ProjectContent from "../components/organism/ProjectContent.astro";
import SquareImage from "../components/atoms/SquareImage.astro";
import TitleSymbol from "../components/atoms/TitleSymbol.astro";
import Bullets from "../components/atoms/Bullets.astro";
import Button from "../components/atoms/Button.tsx";
import Tag from "../components/atoms/Tag.tsx";
import ListItem from "../components/molecules/ListItem.tsx";
import HighlightedTitle from "../components/atoms/HighlightedTitle.tsx";
import H1 from "../components/atoms/H1.tsx";
import H4 from "../components/atoms/H4.tsx";
import TitleSection from "../components/atoms/TitleSection.tsx";
import Check from "../components/atoms/Check.tsx";
import SectionDescription from "../components/molecules/SectionDescription.tsx";
import ContactForm from "../components/organism/ContactForm.tsx";
---

<Layout
  title="Mogami Porfolio"
  description="Front-end Developer apasionado por el diseño web y sistemas de diseño. Especializado en interfaces atractivas y fáciles de usar, con un enfoque en crear experiencias web innovadoras."
>
  <Header>
    <a class="hover:font-bold duration-200" href="#projects">Projects</a>
    <a class="hover:font-bold duration-200" href="#experience">Experience</a>
    <a class="hover:font-bold duration-200" href="#about">About me</a>
  </Header>
  <main>
    <div
      id="arrow-to-top"
      class="fixed bottom-0 right-10 w-12 h-12 flex justify-center items-center mb-10 hover:animate-bounce duration-1000 opacity-0 z-10"
    >
      <a href="#">
        <svg
          width="60"
          height="60"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60ZM36.6582 39H41.25L32.7092 19.5H27.3367L18.75 39H23.3418L29.8622 24.0485H30.2296L36.6582 39Z"
            fill="#FFD121"></path>
        </svg>
      </a>
    </div>
    <section
      class="w-full mx-auto flex flex-col-reverse md:flex-row justify-between gap-x-10 items-top"
    >
      <div
        class="flex justify-center flex-col px-6 md:py-6 xl:px-0 space-y-6 gap-4 md:gap-2 lg:max-w-md md:max-w-sm"
      >
        <div class="sm:mt-20 md:mt-35 flex flex-col gap-2">
          <div id="tag" class="pb-3">
            <Tag
              client:load
              text="Open to Work 👩‍💻"
              variant="yellow"
              delay={1.3}
            />
          </div>
          <H4 client:load text="Freelance Graphic Designer · Front-End Dev" />
          <H1 client:load text="Hi, my name is Mónica Galán" />
        </div>
        <p>
          Front-end Developer with a passion for web design and design systems.
          Skilled at crafting user-friendly and visually appealing interfaces,
          with a commitment to creating innovative web experiences and
          continuously advancing front-end development skills.
        </p>
      </div>
      <div class="w-full h-auto pl-5 mx-0">
        <img class="w-full" src="images/image-hero.png" alt="" />
      </div>
    </section>
    <section
      id="sintetic"
      class="w-full mx-auto flex md:flex-row sm:flex-col justify-center gap-10 px-8 flex-wrap"
    >
      <HighlightedTitle client:load title="8+" subtitle="Years of Experience" />
      <div class="border-r hidden md:block border-gray-300 w-3"></div>
      <HighlightedTitle
        client:load
        title="Multidisciplinary"
        subtitle="Profesional profile"
      />
      <div class="border-r hidden md:block border-gray-300 w-3"></div>
      <HighlightedTitle
        client:load
        title="UX / UI"
        subtitle="Design passionate"
      />
    </section>
    <div class="flex flex-col px-8">
      <section
        id="projects"
        class="w-full mx-auto pt-20"
        data-scroll="seccion1"
      >
        <TitleSection client:load text="projects" />
        <div
          id="accordion-flush"
          data-accordion="collapse"
          data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
          data-inactive-classes="text-gray-500 dark:text-gray-400"
        >
          <h2 id="accordion-flush-heading-1">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-1"
              aria-expanded="false"
              aria-controls="accordion-flush-body-1"
            >
              <ProjectButton
                name="Dynamic Knowledge Hub"
                highlight="React · Storybook"
              />
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0 mr-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h2>
          <div
            id="accordion-flush-body-1"
            class="hidden"
            aria-labelledby="accordion-flush-heading-1"
          >
            <div class="border-b-2 border-gray-700">
              <ProjectContent
                synopsis="Escohotado Web"
                description="This website will serve as the official central hub for the community of philosopher and thinker Escohotado."
              >
                <SquareImage
                  slot="picture"
                  mobileImgUrl="escohotado/project03-image-mobile.jpg"
                  desktopImgUrl="escohotado/project03-image-desktop.jpg"
                  alt="user profile picture"
                />
                <div slot="check" class="flex gap-x-5 pb-6 flex-wrap">
                  <Check text="React" />
                  <Check text="Storybook" />
                  <Check text="Motion.dev" />
                </div>
                <div slot="buttons">
                  <Button text="Go to Detail project" link="/projectCommunity">
                    <div slot="icon">
                      <img
                        class="w-4 h-4"
                        src="images/code-analysis.svg"
                        alt="magnifying glass code icon"
                      />
                    </div>
                  </Button>
                </div>
              </ProjectContent>
            </div>
          </div>
          <h2 id="accordion-flush-heading-2">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-2"
              aria-expanded="false"
              aria-controls="accordion-flush-body-2"
            >
              <ProjectButton name="Dungeon Crawl" highlight="iOS 17" />
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0 mr-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h2>
          <div
            id="accordion-flush-body-2"
            class="hidden"
            aria-labelledby="accordion-flush-heading-2"
          >
            <div class="border-b-2 border-gray-700">
              <ProjectContent
                synopsis="Data Management App"
                description="Empowers Dungeon Masters (DMs) to effortlessly manage their parties and access crucial Dungeons & Dragons data, streamlining the game experience"
              >
                <SquareImage
                  slot="picture"
                  mobileImgUrl="project01-image-mobile.jpg"
                  desktopImgUrl="project01-image-desktop.jpg"
                  alt="user profile picture"
                />
                <div slot="check" class="flex gap-x-5 pb-6 flex-wrap">
                  <Check text="iOS17 - ScrollView new" />
                  <Check text="SwiftData" />
                  <Check text="Async Await" />
                </div>
                <div slot="buttons">
                  <Button
                    text="See the flow of dungeon"
                    link="https://www.figma.com/proto/1P0S2xuMXPOnG1txYnEDmI/Dungeon-Crawl-DnD-App?node-id=593-5760&viewport=-1169%2C238%2C0.16&t=hSmtEpWWlch2yrjX-0&scaling=scale-down&starting-point-node-id=593%3A5760"
                  >
                    <div slot="icon">
                      <img
                        class="w-4 h-4"
                        src="images/figma-icon.svg"
                        alt="figma icon"
                      />
                    </div>
                  </Button>
                  <Button
                    text="Enter the dungeon"
                    link="https://github.com/mogamiGit/Dungeon-Crawl"
                  >
                    <div slot="icon">
                      <img
                        class="w-4 h-4"
                        src="images/github-icon.svg"
                        alt="github icon"
                      />
                    </div>
                  </Button>
                </div>
              </ProjectContent>
            </div>
          </div>
          <h2 id="accordion-flush-heading-3">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-3"
              aria-expanded="false"
              aria-controls="accordion-flush-body-3"
            >
              <ProjectButton name="OhTaku!" highlight="iOS 16" />
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0 mr-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h2>
          <div
            id="accordion-flush-body-3"
            class="hidden"
            aria-labelledby="accordion-flush-heading-3"
          >
            <div class="border-b-2 border-gray-700">
              <ProjectContent
                synopsis="Tracker App"
                description="Discover and track your favorite anime. Dive into a vast database of titles, consult detailed information, and effortlessly track your progress with a tap."
              >
                <SquareImage
                  slot="picture"
                  mobileImgUrl="project02-image-mobile.jpg"
                  desktopImgUrl="project02-image-desktop.jpg"
                  alt="user profile picture"
                />
                <div slot="check" class="flex gap-x-5 pb-6 flex-wrap">
                  <Check text="Lottie animation" />
                  <Check text="Local management" />
                </div>
                <div slot="buttons">
                  <Button
                    text="Start your Isekai Adventure"
                    link="https://github.com/mogamiGit/Ohtaku"
                  >
                    <div slot="icon">
                      <img
                        class="w-4 h-4"
                        src="images/github-icon.svg"
                        alt="github icon"
                      />
                    </div>
                  </Button>
                </div>
              </ProjectContent>
            </div>
          </div>
        </div>
      </section>
      <section
        id="experience"
        class="w-full mx-auto pt-20"
        data-scroll="seccion2"
      >
        <TitleSection client:load text="experience" />
        <div class="px-5 pt-8">
          <div class="grid grid-cols-1 gap-14 md:grid-cols-2">
            <div>
              <TitleSymbol>Education</TitleSymbol>
              <ListItem
                client:load
                year="2024"
                title="Ironhack"
                subtitle="Industrial applications of machine learning and AI"
              />
              <ListItem
                client:load
                year="2023"
                title="APPLE CODING ACADEMY"
                subtitle="Swift Full Stack Bootcamp"
              />
              <ListItem
                client:load
                year="2021"
                title="CICE, ESCUELA PROFESIONAL DE NUEVAS TECNOLOGIAS"
                subtitle="App Development Master"
              />
              <ListItem
                client:load
                year="2018 - 2019"
                title="CICE, ESCUELA PROFESIONAL DE NUEVAS TECNOLOGIAS"
                subtitle="Web Design & Development Course"
              />
              <ListItem
                client:load
                year="2011 - 2015"
                title="ESNE"
                subtitle="Graphic and Multimedia Design Degree"
              />
            </div>
            <div>
              <TitleSymbol>Work</TitleSymbol>
              <ListItem
                client:load
                year="2024 - today"
                title="Freelance"
                subtitle="Graphic designer & Frontend Developer"
              />
              <ListItem
                client:load
                year="2019 - 2024"
                title="CHEIL WORLDWIDE"
                subtitle="Visual & Web Layout designer"
              />
              <ListItem
                client:load
                year="2016 - 2019"
                title="8BELTS"
                subtitle="Graphic designer"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="w-full mx-auto pt-20" data-scroll="seccion3">
        <div class="flex flex-col lg:flex-row-reverse gap-10 items-center">
          <img
            src="images/profile_photo.png"
            alt="profile image"
            class="max-w-80"
          />
          <div class="flex flex-col lg:flex-row gap-10">
            <div>
              <TitleSection client:load text="about_me" />
            </div>
            <p>
              Hey you! I'm the creative mind behind the keyboard. Constantly on
              the move and infusing energy into every project.
              <br /><br />My mantra is simple: learn, design, develop, have fun,
              repeat! Because, honestly, why should the process of creating
              something incredible be boring? I love pushing boundaries,
              exploring new trends, and finding the perfect balance between
              functionality and style.
              <br /><br />Let's turn your digital dreams into vibrant realities
              together!
            </p>
          </div>
        </div>
        <div class="pt-6 flex flex-col gap-12">
          <div class="mt-10">
            <TitleSymbol>Hard skills</TitleSymbol>
            <div class="flex gap-x-10 gap-y-8 flex-wrap mt-6">
              <Bullets title="Languages">
                <Tag client:load text="HTML" variant="gray" />
                <Tag client:load text="CSS" variant="gray" />
                <Tag client:load text="JS" variant="gray" />
                <Tag client:load text="Swift" variant="gray" />
              </Bullets>
              <Bullets title="Frameworks and SDKs">
                <Tag client:load text="React" variant="gray" />
                <Tag client:load text="Astro" variant="gray" />
                <Tag client:load text="Svelte" variant="gray" />
                <Tag client:load text="SwiftUI" variant="gray" />
                <Tag client:load text="SwiftData" variant="gray" />
              </Bullets>
              <Bullets title="Patterns">
                <Tag client:load text="MVVM" variant="gray" />
                <Tag client:load text="MVC" variant="gray" />
              </Bullets>
              <Bullets title="Tools & Technologies">
                <Tag client:load text="Figma" variant="gray" />
                <Tag client:load text="RESTful APIs" variant="gray" />
                <Tag client:load text="Postman" variant="gray" />
                <Tag client:load text="Git" variant="gray" />
              </Bullets>
              <Bullets title="Methodologies">
                <Tag client:load text="Design Thinking" variant="gray" />
                <Tag client:load text="Atomic Design" variant="gray" />
                <Tag client:load text="Mobile First" variant="gray" />
                <Tag client:load text="Agile" variant="gray" />
              </Bullets>
            </div>
          </div>
          <div class="flex flex-col gap-6">
            <TitleSymbol>Soft skills</TitleSymbol>
            <div class="flex flex-wrap gap-y-2">
              <Tag client:load text="Constantly changing" variant="gray" />
              <Tag client:load text="Self-taught" variant="gray" />
              <Tag client:load text="Problem solving" variant="gray" />
              <Tag client:load text="Teamwork" variant="gray" />
            </div>
          </div>
          <picture> </picture>
        </div>
      </section>
      <section
        id="contact"
        class="w-full mx-auto flex flex-col gap-10"
        data-scroll="seccion4"
      >
        <TitleSection client:load text="break_the_ice" />
        <div class="grid md:grid-cols-3 gap-10 grid-cols-1">
          <div class="md:col-span-2 col-span-1">
            <ContactForm client:load />
          </div>
          <div class="flex flex-col gap-8">
            <SectionDescription
              title="contact"
              description="mogami.creative@gmail.com"
            />
            <div class="w-full flex flex-col gap-2">
              <SectionDescription
                title="linkedin"
                description="monicagalandelallana"
                link="https://www.linkedin.com/in/monicagalandelallana"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="border-t px-6">
      <div class="w-full mx-auto py-10 text-sm opacity-80">
        <p>&#169; 2024 Design by Mónica Galán</p>
      </div>
    </footer>
  </main>

  <script>
    const myDiv = document.getElementById("arrow-to-top");

    window.addEventListener("scroll", () => {
      if (window.scrollY === 0) {
        myDiv.classList.add("opacity-0");
        myDiv.classList.remove("opacity-100");
      } else {
        myDiv.classList.remove("opacity-0");
        myDiv.classList.add("opacity-100");
      }
    });
  </script>
</Layout>
