---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organism/Hero";
import HighlightPoints from "../components/organism/HighlightPoints";
import Projects from "../components/organism/Projects";
import Experience from "../components/organism/Experience";
import About from "../components/organism/About";
import Contact from "../components/organism/Contact";
---

<Layout
  title="Mogami Porfolio"
  description="Front-end Developer apasionado por el diseño web y sistemas de diseño. Especializado en interfaces atractivas y fáciles de usar, con un enfoque en crear experiencias web innovadoras."
>
  <main>
    <div
      id="arrow-to-top"
      class="fixed bottom-0 right-10 w-12 h-12 flex justify-center items-center mb-10 hover:animate-bounce duration-1000 opacity-0 z-10"
    >
      <a href="#">
        <svg
          width="60"
          height="60"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60ZM36.6582 39H41.25L32.7092 19.5H27.3367L18.75 39H23.3418L29.8622 24.0485H30.2296L36.6582 39Z"
            fill="#FFD121"></path>
        </svg>
      </a>
    </div>
    <Hero client:load />
    <HighlightPoints client:load />
    <div class="flex flex-col px-4">
      <Projects client:load />
      <Experience client:load />
      <About client:load />
      <Contact client:load />
    </div>
    <footer class="border-t px-6">
      <div class="w-full mx-auto py-10 text-sm opacity-80">
        <p>&#169; 2024 Design by Mónica Galán</p>
      </div>
    </footer>
  </main>

  <script>
    const myDiv = document.getElementById("arrow-to-top");

    window.addEventListener("scroll", () => {
      if (window.scrollY === 0) {
        myDiv.classList.add("opacity-0");
        myDiv.classList.remove("opacity-100");
      } else {
        myDiv.classList.remove("opacity-0");
        myDiv.classList.add("opacity-100");
      }
    });
  </script>
</Layout>
