---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organism/Header.astro";
import Carousel from "../components/organism/InternalProjectCards/Carousel";
import { projects } from "../components/organism/InternalProjectCards/data";
---

<Layout title="Internal Projects" description="Internal Projects Mogami">
  <Header />
  <main>
    <section
      class="w-full mx-auto flex items-center justify-center px-6 xl:px-0 mt-[150px]"
    >
      <Carousel client:load projects={projects} />
    </section>
  </main>
</Layout>
