---
import DetailProject from "../components/DetailProject";
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";

const description =
  "Este proyecto consistió en la creación integral de una página web y comunidad de conocimiento desde cero, donde trabajé en equipo para ofrecer una experiencia de usuario visualmente atractiva y funcional. Fui responsable del diseño en Figma, creando una interfaz coherente y moderna, y de la gestión del Design System utilizando Storybook para garantizar la reutilización de componentes y la consistencia visual. Implementé el prototipo funcional utilizando React y Tailwind CSS, asegurando flexibilidad y facilidad de mantenimiento. Además, integré TypeScript para mejorar la calidad y seguridad del código, y utilicé motion.dev para incorporar animaciones dinámicas que enriquecieran la experiencia del usuario. Colaboré estrechamente con un desarrollador para asegurar que la interfaz fuera no solo visualmente atractiva, sino también accesible y fluida, logrando una experiencia de usuario integral y de alta calidad.";

const button = {
  link: "",
  text: "Sample button",
};

const tags = ["Storybook", "React", "Tailwind CSS", "TypeScript", "motion.dev"];

const infoDetail = {
  year: "2025",
  client: "La Emboscadura SL",
  description: description,
  tags: tags,
  button: button,
};

const techs = [
  {
    title: "Diseño interfaz",
    subtitle:
      "Responsable del diseño en Figma, creando una interfaz limpia, moderna y coherente con la identidad del proyecto, asegurando una experiencia visualmente atractiva.",
    emoji: "🎨",
  },
  {
    title: "Design System",
    subtitle:
      "Desarrollé un Design System utilizando Storybook, garantizando la coherencia visual y la reutilización eficiente de componentes a lo largo del proyecto, mejorando la consistencia y la escalabilidad del desarrollo.",
    emoji: "🎨",
  },
  {
    title: "Componentización",
    subtitle:
      "Implementé componentes funcionales utilizando React y Tailwind CSS, proporcionando una estructura robusta y flexible que facilitó el desarrollo y el mantenimiento del proyecto.",
    emoji: "🎨",
  },
  {
    title: "Animaciones",
    subtitle:
      "Integré animaciones interactivas utilizando motion.dev, mejorando la experiencia de usuario y aportando dinamismo a la interfaz sin comprometer el rendimiento.",
    emoji: "🎨",
  },
];

const cards = [
  {
    url: "https://placehold.co/600x400",
    title: "Title 1",
    id: 1,
  },
];
---

<Layout
  title="Mogami Porfolio"
  description="Front-end Developer apasionado por el diseño web y sistemas de diseño. Especializado en interfaces atractivas y fáciles de usar, con un enfoque en crear experiencias web innovadoras."
>
  <Header>
    <a class="hover:font-bold duration-200" href="#projects">Projects</a>
    <a class="hover:font-bold duration-200" href="#experience">Experience</a>
    <a class="hover:font-bold duration-200" href="#about">About me</a>
  </Header>
  <main class="mt-[6rem] w-full">
    <DetailProject
      title="Comunidad de Conocimiento Web"
      linkImage="https://placehold.co/1920x1080"
      infoDetail={infoDetail}
      dropdownCards={techs}
      cards={cards}
      client:load
    />
  </main>
</Layout>
