---
interface Props {
    name: string;
    highlight: string;
}

const { name, highlight } = Astro.props;
---

<div class="flex flex-col items-start px-8 gap-2">
    <p class="font-kalnia text-3xl text-left">
        {name}
    </p>
    <p class="text-yellow-chick">
        {highlight}
    </p>
</div>
