<div>
    <div class="flex item-center pb-2">
        <img 
            class="w-6 h-6" 
            src="images/check-vector.svg" 
            alt="chack symbol" 
        />
        <p class="font-light italic">
            <slot />
        </p>
    </div>
</div>