---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-4 py-2 rounded-full dark:bg-gray-700 dark:text-gray-300">{text}</span>