<div class="flex gap-x-1 items-center">
    <span class="rotate-180 text-yellow-chick">&#10095;</span> 
    <p class="p-x-10 text-2xl font-semibold"><slot /></p> 
    <span class="text-yellow-chick">&#10095;</span>
</div>