---
import Logo from "../components/Logo.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header id="header" class="sticky-menu py-1">
  <div class="max-w-[1240px] mx-auto items-start">
    <nav class="w-full flex justify-between">
      <div class="w-full flex my-auto">
        <div id="menu-toggle">
          <span class="text-2xl">></span>
        </div>
        <div id="menu" class="menu menu-hidden flex flex-row">
          <a href="/">
            <Logo />
          </a>
          <slot />
        </div>
      </div>
      <ThemeIcon />
    </nav>
  </div>
</header>

<style>
  .sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(8px);
  }

  nav div {
    flex-direction: row;
    align-items: center;
  }

  .menu {
    transition: transform 0.3s ease-in-out;
    gap: 2rem;
  }

  #menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px 16px;
  }
  
	header {
		background-image: linear-gradient(to bottom, rgb(255, 255, 255,1), transparent);
		box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
	}

  @media (max-width: 599px) {
		header {
			background: rgba(255, 255, 255, 0.7);
		}
	}

  @media (max-width: 1280px) {
    .menu {
      padding: 0 1rem;
    }
  }

  @media (max-width: 599px) {
    nav {
      align-items: baseline;
    }

    nav div {
      flex-direction: column;
      align-items: baseline;
      padding: 0;
    }

    #menu-toggle {
      display: block;
      transition: transform 0.3s ease-in-out;
    }

    #menu {
      padding: 1.5rem 1rem;
    }

    .menu {
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      display: none;
    }

    .menu-visible {
      display: flex;
    }

    .menu-hidden {
      display: none;
    }
  }
</style>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");
  const header = document.getElementById("header");

  menuToggle.addEventListener("click", () => {
    menu.classList.toggle("menu-visible");
    menu.classList.toggle("menu-hidden");
    menuToggle.classList.toggle("rotate-90");
    menuToggle.classList.toggle("text-blue-violet");
  });

  document.addEventListener("click", (event) => {
    if (event.target instanceof Node && !header.contains(event.target)) {
      if (menu.classList.contains("menu-visible")) {
        menu.classList.remove("menu-visible");
        menu.classList.add("menu-hidden");
        menuToggle.classList.remove("rotate-90");
        menuToggle.classList.remove("text-blue-violet");
      }
    }
  });

  window.addEventListener('scroll', () => {
    if (window.scrollY === 0) {
      header.classList.remove('bg-opacity-80');
    } else {
      header.classList.add('bg-opacity-80');
    }
  });
</script>
